@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Garamond', Serif;
}
.cover{
    background-image: url(course.jpg);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}
.cover h1{
    position: absolute;
    left: 10%;
    top: 40%;
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 1000;
    color: white;
}
.cover h2{
    position: absolute;
    left: 38%;
    top: 50%;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 500;
    color: white;
}
.cover button{
    border-radius: 5px;
    width:120px;
    height: 40px;
    border: none;
    background: rgb(252, 69, 69);
    position: absolute;
    top: 60%;
    cursor: pointer;
}
#login{
    left:20%;
}
#register{
    right: 20%;
}
.cover button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.cover button:hover, .cover button:hover a{
    background:rgb(252, 173, 69);
    transition: 1s ease;
    color: black;
    font-weight: 1000;
}
.wrapper{
    position: absolute;
    top:50%;
    left: 50%;
    background: rgb(253, 194, 66);
    width: 300px;
    max-height: 430px;
    transform: translate(-50%,-50%);
    padding: 10px;
    border-radius: 5px;
}
.wrapper h3{
    font-size: 30px;
    text-align: center;
}
.wrapper .form-control{
    margin-top: 10px;
    text-align: center;
}
.wrapper .form-control input{
    width: 170px;
    height: 30px;
}
.wrapper .form-control input[type="submit"]{
    border-radius: 5px;
    background: rgb(252, 69, 69);
    border:none;
    font-size: 15px;
    font-weight: 1000;
    margin-top: 20px;
    cursor: pointer;
}
.wrapper p{
    margin-top: 20px;
    text-align: center;
}
.wrapper a{
    margin-top: 20px;
    text-decoration: none;
    font-weight: 1000;
}
#error_message{
    margin-bottom: 10px;
    background: #fe8b8e;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 2s ease;
}
#Home{
    position: absolute;
    top:5%;
    left: 5%;
    background: rgb(0, 0, 112);
    cursor: pointer;
}
#Home a{
    color: white;
    font-size: 20px;
}
#Home:hover a{
    background: rgb(0, 0, 112);
    color: white;
}

.content {
    padding: 16px;
}
  
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .content {
    padding-top: 60px;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background: black;
}
.dropdown-submenu {
    position: relative;
}
  
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    font-size: 16px;
}
.dropdown-menu li a{
    font-size: 16px;
}
#course_catalog{
    font-size: 16px;
    font-weight: bold;
}
#course_catalog a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.container{
    background: black;
    width: 300px;
    height: auto;
    margin: 5px;
}
.container h3{
    text-align: center;
    color: white;
    font-weight: bold;
}
.box{
    background: linear-gradient(rgba(200, 66, 253, 0),rgb(200, 66, 253));
    margin: 5px;
}
.container .box h3{
    font-size: 12px;
}
.container .box h2{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    color: black;
}

.container .box a{
    color: black;
    text-decoration: none;
}
